body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f0f0f0;
}
a {
  text-decoration: none;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}
.body-padding {
  padding: 5px 25px;
  margin-left: 190px;
  height: 100vh;
}
.fw-700 {
  font-weight: 700;
}
.br-10 {
  border-radius: 10px;
}
.w-35 {
  width: 35%;
}
.box-shadow {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.12);
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashed-line {
  border: 1px dashed #A9A9A9;
  width: 100%;
}
.tx-center {
  text-align: center;
}
.navBar {
  width: 190px;
  height: 100%;
  background-color: #3F5473;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  position: fixed;
}
.navBtn {
  margin: 5px;
  font-size: 18px !important;
  color: white !important;
  justify-content: flex-start;
}
.navBtn-clicked {
  margin: 5px;
  font-size: 18px !important;
  color: black !important;
  background-color: white;
}
.navText {
  font-size: 15px !important;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}
.navDivider {
  width: 85%;
  height: 1px;
  background-color: #a9a9a9;
  margin: 10px;
}
.nav-icon {
  width: 20px;
  height: 20px;
  filter: invert(100);
  margin-right: 5px;
  margin-top: 3px;
}
.home-divider {
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
  margin: 37px 0px;
}
.icon-box {
  display: flex;
  width: 60%;
  justify-content: space-around;
  position: absolute;
  bottom: 30px;
}
.title {
  font-size: 32px;
  font-weight: 700;
  color: #5B5B5B;
}
.head-box {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 8px;
}
.title-box {
  height: 40px;
  font-size: 4vh;
  font-weight: 700;
  line-height: 3vh;
  padding-left: 0.5vw;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  margin: 10px 0px 15px;
}
.filter-box {
  border-radius: 5px;
  padding-right: 0.7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-card {
  display: flex;
  margin-right: 15px;
  align-items: center;
}
.filter-text {
  font-size: 2.5vh;
  font-weight: 700;
  color: #3F5473;
  padding: 5px;
  line-height: 2vh;
}
.filter-select {
  margin-left: 10px;
  height: 4.5vh;
  border-radius: 5px;
  text-align: center;
  background-color: #f0f0f0;
  width: 10vw;
}

/* Home Dashboard */

.btn-shadow:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #3e3e3e;
}
.btn-shadow:hover {
  background-color: #fafafa;
}
.homebox {
  background-color: #ffffff; 
  border-radius: 10px; 
  padding: 20px 30px;
}
.homebox-w2 {
  width: 49%;
}
.homebox-h3 {
  height: 29.5%;
  padding: 20px 2vw;
}
.homebox-titlebox {
  height: 50px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}
.homebox-title1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.homebox-title2 {
  font-size: 1rem;
  font-weight: 300;
}
.menu-divider {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  margin: 25px 0px;
}
.menu-divider-title {
  padding: 3px; 
  background-color: #f3f3f3; 
  font-size: 1.5rem; 
  font-weight: 700;
}
.menu-card {
  width: 23.5%; 
  height: 110px;
  display: flex;
  align-items: center;
}
.mr-2per {
  margin-right: 2%;
}
.mb-22px {
  margin-bottom: 22px;
}
.menu-card-title {
  font-size: 1.3rem; 
  width: 100%; 
  text-align: center;
  display: flex;
  flex-direction: column;
}
.menu-card-title2 {
  font-size: 1rem;
  line-height: 1rem;
}
.numbox {
  width: 33.3%; 
  height: 120px;
}
.numbox-divider {
  border-right: 1px solid #f3f3f3;
}
.numbox-txtbox {
  width:50%; 
  flex-direction: column;
}
.numbox-today1 {
  font-size: 1.2rem; 
  font-weight: 700; 
  line-height: 2.5rem;
}
.numbox-today2 {
  font-size: 2.5rem; 
  font-weight: 700; 
  color: #F89829;
}
.numbox-yesterday1 {
  font-size: 1rem; 
  line-height: 2.5rem;
}
.numbox-yesterday2 {
  font-size: 2rem; 
  font-weight: 700; 
  color: #3F5473;
}
.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 15px;
}
.flex-leftcenter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.flex-rightcenter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}