body {
  font-family:Pretendard, -apple-system, 'Noto Sans KR', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  background-color: #f5f5f5;
}
.v-application {
  font-family:Pretendard, -apple-system, 'Noto Sans KR', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
a {
  text-decoration: none;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}
.body-padding {
  padding: 0px 25px;
  margin-left: 190px;
  height: 100vh;
}
.fw-700 {
  font-weight: 700;
}
.br-10 {
  border-radius: 10px;
}
.w-35 {
  width: 35%;
}
.box-shadow {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.12);
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashed-line {
  flex: 1;
  border: 1px dashed #A9A9A9;
}
.tx-center {
  text-align: center;
}
.navBar {
  width: 190px;
  height: 100%;
  background-color: #254359;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  position: fixed;
}
.navBtn {
  margin: 5px;
  font-size: 18px !important;
  color: white !important;
  justify-content: flex-start;
}
.navBtn-clicked {
  margin: 5px;
  font-size: 18px !important;
  color: black !important;
  background-color: white;
}
.navBtnText {
  color: white; 
  font-size: 2vh; 
  font-weight: 700; 
  line-height: 2vh;
}
.navText {
  font-size: 15px !important;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}
.navDivider {
  width: 85%;
  height: 1px;
  background-color: #ffffff30;
  margin: 10px;
}
.nav-icon {
  width: 20px;
  height: 20px;
  filter: invert(100);
  margin-right: 5px;
  margin-top: 3px;
}
.home-divider {
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
  margin: 37px 0px;
}
.nav-footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 30px;
  color: #ffffff80;
  font-size: 0.7rem;
  text-align: center;
}
.title {
  font-size: 32px;
  font-weight: 700;
  color: #5B5B5B;
}
.filter-head {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  margin-bottom: 2vh;
}
.head-box {
  height: 5.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  white-space: nowrap;
  padding: 0 0.8vh;
}
.title-box {
  height: 10vh;
  font-size: 3.5vh;
  font-weight: 700;
  padding-left: 0.5vw;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-card {
  display: flex;
  margin-right: 15px;
  align-items: center;
}
.filter-text {
  font-size: 2vh;
  font-weight: 700;
  color: #254359;
  line-height: 2vh;
}
.filter-select {
  margin-left: 10px;
  height: 4vh;
  border-radius: 5px;
  text-align: center;
  background-color: #f0f0f0;
  width: 10vw;
}

/* Home Dashboard */

.btn-shadow:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #3e3e3e;
}
.btn-shadow:hover {
  background-color: #fafafa;
}
.homebox {
  background-color: #ffffff; 
  border-radius: 10px; 
  padding: 20px 30px;
}
.homebox-w2 {
  width: 49%;
}
.homebox-h3 {
  height: 29.5%;
  padding: 20px 2vw;
}
.homebox-titlebox {
  height: 50px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}
.homebox-title1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.homebox-title2 {
  font-size: 1rem;
  font-weight: 300;
}
.homebox-title3 {
  font-size: 1.8rem;
  font-weight: 700 !important;
  color: #254359;
}
.menu-divider {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  margin: 25px 0px;
}
.menu-divider-title {
  padding: 10px; 
  background-color: #f3f3f3; 
  font-size: 1.5rem; 
  font-weight: 700;
}
.menu-card {
  width: 23.5%; 
  height: 110px;
  display: flex;
  align-items: center;
}
.mr-2per {
  margin-right: 2%;
}
.mb-22px {
  margin-bottom: 22px;
}
.menu-card-title {
  font-size: 1.3rem; 
  width: 100%; 
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  white-space: nowrap;
}
.menu-card-title2 {
  font-size: 1rem;
  line-height: 1rem;
}
.numbox {
  width: 33.3%; 
  height: 120px;
}
.numbox-divider {
  border-right: 1px solid #f3f3f3;
}
.numbox-txtbox {
  width:50%; 
  flex-direction: column;
}
.numbox-today1 {
  font-size: 1.2rem; 
  font-weight: 700; 
  line-height: 2.5rem;
}
.numbox-today2 {
  font-size: 2.5rem; 
  font-weight: 700; 
  color: #F89829;
}
.numbox-yesterday1 {
  font-size: 1rem; 
  line-height: 2.5rem;
}
.numbox-yesterday2 {
  font-size: 2rem; 
  font-weight: 700; 
  color: #254359;
}
.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 15px;
}
.flex-leftcenter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.flex-rightcenter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.dialog-text {
  font-size: 1rem;
  color: #254359;
  font-weight: 700;
}
.dialog-titlebox {
  height: 80px; 
  color: #254359;
  font-size: 3.5vh;
  font-weight: 700;
}
.slide-in-blurred-bottom {
	-webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-28 18:18:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
